.footsiesection 
{
    background: #151414;
    /* position: relative; */
}
.container
{
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: 15px;
  margin-right: 15px; 
}
.footer-cta, .footer-content, .cpyrgtcontent
{
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
}
.footer-cta
{
    align-items: space-between;
    justify-content: flex-end;
}
.ulpc
{
  margin-left: -3%;
}



.row
{
  display: flex; 
  height: fit-content;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.footsierow, .ftctarow, .cpyrgtrow
{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.footsierow
{
    justify-content: space-around;
}
.ftctarow, .cpyrgtrow
{
    justify-content: space-between;
}


.footmidd1, .footmidd2, .footmidd3
{
  margin-bottom: 50px;
  width: 100%;
  max-width: fit-content;
}
.footmidd1
{
    display: flex;
}


.footsiewidd
{
    display: flex;
    justify-content: flex-start;
}
.footsiewiddd
{
    display: flex;
    margin-top: 20px;
}
.footsiewid
{
    display: flex;
    width: 65%;
    flex-direction: column;
}

.remlogspba a
{
  display: flex;
}



.footsiewid2
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: space-between;
}
.footsiewid3
{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.remlogspa
{
    margin-top: -5%;
}

.single-cta
{
    width: 100%;
}
.footsiewiddd > a > i
{
    font-size: 150%;
    color: white;
}















ul {
    margin: 0px;
    padding: 0px;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: rgb(31, 97, 83);
  font-size: 30px;
  float: left;
  margin-top: 30px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #9a8979;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 70px;
}
.footer-logo h3 {
    color: rgb(31, 97, 83);
    font-weight: 800;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #9a8979;
  line-height: 28px;
}
.footer-text ul li a {
    color: #9a8979;
}
.footer-social-icon span {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a
{
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i
{
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg
{
  background: rgb(59, 89, 152)
}
.twitter-bg
{
  background: rgb(85, 172, 238);
}
.google-bg
{
  background: rgb(221, 75, 57);
}
.instagram-bg
{
    background: rgb(150, 20, 96);
}
.footer-widget-heading h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block; 
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: rgb(31, 97, 83);
}
.footer-widget ul li a {
  color: #9a8979;
  text-transform: capitalize;
}








.copyright-text
{
  display: flex;
}




.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #9a8979;
}
.copyright-text p a{
  color: rgb(31, 97, 83);
}

.footer-menu li {
  display: inline-block;
}
.footer-menu li:hover a{
  color: rgb(31, 97, 83);
}
.footer-menu li a {
  font-size: 14px;
  color: #9a8979;
}









@media screen and (max-width:991px)
{
  .footsierow
  {
      flex-direction: column;
  }
  .ulpc
  {
    margin-left: -1%;
  }
  .footer-text
  {
    margin-left: 1%;
  }
}

@media screen and (max-width:767px)
{
  .ftctarow
  {
    flex-direction: column;
  }
  .cpyrgtrow
  {
    flex-direction: column-reverse;
  }
  .footer-menu
  {
    margin-left: -5%;
  }
  .cpyrgtrow > .footmidd1 > .copyright-text
  {
    margin-top: -13%;
  }
}




















